/* [data-theme="light"] {
  --primary: #ffffff;
  --secondary: #000000;
  --accent-1: #3e4045;
  --accent-2: #a78bfa;
  --bg-col-1: #f1f5f9;
  --bg-col-2: #ffffff;
  --btn-bg-1: #ddd6fe;
  --btn-bg-2: #ddd6fe;
  --btn-text-1: #000000;
  --btn-text-2: #111827;
  --text-1: #000000;
  --text-2: #3e4045;
  --text-3: #111827;
  --title-color: #111827;
  --sub-title-color: #3e4045;
  --card-header: #a78bfa;
  --card-bg-1: #ffffff;
  --card-bg-2: #ffffff;
  --nav-bg: #ffffffe8;
  --link-col-1: #111827;
  --link-col-2: #e2e8f0;
  --shadow: #cfcfd1;
  --brand-text-gradient-stop-1: #706478;
  --brand-text-gradient-stop-2: #231f2a;
} */
